
*.pyc

node_modules/

*.h5ad

*.pt
*.pkl

data/celeba/*
*.csv
*.h5ad
*.parquet

*.gz
*.h5

!artifacts/splits/
!artifacts/splits/*.csv
!artifacts/splits/*.json
.DS_Store

.venv/*
artifacts/
*.npy

logs/